<div  >

    <!-- header-->
    <div class="headerWrapper small" id="bc_headerWrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <a href="{{root_path}}">
                        <div class="logo small" id="bc_clientLogo" ></div>
                    </a>
                    <h3 class="title" id="bc_clientTitle" >{{siteData.titulo}}</h3>
                </div>
                <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 text-right">
                    <a target="_blank" href="http://www.viddeo.com/" style="text-decoration: none;">
                        <span class="poweredBy">POWERED BY</span>
                        <span class="broadcaster">VIDDEO</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mainWraper" id="bc_mainWraper">
        <div class="container">
            <!-- big thumbnail with sidebar with videos-->
            <div class="row section">
                <div id="mainVideo" class="col-sm-8 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 thumbnailVideo big inner">
                            <jwplayer ng-show="!player360" ng-src="{{fileToPlaySelected}}" player-options="optionsPlayerSelected" player-id="playerSelected"></jwplayer>
                            <div ng-show="player360" class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" ng-src="{{iframeFixSrc}}"></iframe>
                            </div>
                            <input type="hidden" id="playerName" value="playerSelected">
                            <input type="hidden" id="videoId" value="{{selectedVideo.video_id_video}}">
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 info-video under">
                            <div class="social">
                                <span class="views svgFallback">{{selectedVideo.views}}</span>
                                <span class="likes svgFallback">{{selectedVideo.likes}}</span>
                                <a ng-click="likeVideo(selectedVideo)" class="like svgFallback" ng-class="{'selected': isLikedVideo(selectedVideo.video_id_video)}"></a>
                            </div>
                            <h3>{{selectedVideo.nombre}}</h3>
                            <p>{{selectedVideo.descripcion}}</p>
                            <div class="share">
                                <a href="" class="twitter svgFallback" socialshare socialshare-provider="twitter" socialshare-text="{{selectedVideo.nombre}}" socialshare-url="{{urlSite}}"></a>
                                <a href="" class="facebook svgFallback" socialshare socialshare-provider="facebook" socialshare-via="306076579750092" socialshare-url="{{urlSite}}" socialshare-text="{{selectedVideo.nombre}}" socialshare-description="{{selectedVideo.descripcion}}" socialshare-media="{{selectedVideo.preview}}"
                                    socialshare-type="feed" socialshare-source="{{urlSite}}" socialshare-caption="{{siteData.alias}}"></a>
                                <a href="mailto:?Subject={{selectedVideo.nombre}}&body={{urlSite | escapeHTML}}" class="mail"></a>
                            </div>
                        </div>
                    </div>
                </div> 
                <div bcr-videos-collection class="hidden-xs col-sm-4 col-md-3 col-lg-3" id="sidebarRelatedVideos" id-block="panel_top" brc-collections="siteData.collections" brc-panel="siteData.site_setting" brc-items="5" brc-class="col-xs-12 thumbnailVideo small" brc-size="m"
                    brc-show-title=false></div>
            </div>
            <!-- menu -->
            <div ng-include="getUrl('partials/_menu.html')"></div>
            <!-- small thumbnails-->
            <bcr-videos-collection id-block="panel_foot" brc-collections="siteData.collections" brc-panel="siteData.site_setting" brc-items="8" brc-class="col-sm-4 col-lg-3 thumbnailVideo small" brc-size="m" brc-pagination=true brc-show-title=true></bcr-videos-collection>
        </div>
    </div>
    <!-- footer-->
    <div ng-include="getUrl('partials/_footer.html')"></div>
</div>