<!--<div class="statusPopup">
    <div class="msgBox" id="404">
        <img class="logo" src="assets/img/icon_msg_viddeo.svg">
        <div class="content">
            <img class="icon" src="assets/img/icon_404.svg">
            <h1>¡404, page does not exist!</h1>
            <p>The url you entered does not exist, you may be here by mistake</p>
            <a class="button" href="">get me out of here</a>
        </div>
    </div>
</div>-->

<!--<div class="statusPopup">
    <div class="statusReqCredentials">
        <div class="msgBox" id="private">
            <div class="content">
                <h1>Login</h1>
                <p>Por favor ingresa tu password</p>
                <div class="iconPrefix pwd"><input type="password"></div>
                <label>&nbsp; Demo ejemplo de error</label>
                <a class="button" href="">Enter</a>
            </div>
        </div>
    </div>
</div>-->

<!--<div class="statusPopup">
    <div class="statusReqCredentials">
        <div class="msgBox" id="login2">
            <div class="content">
                <h1>Login</h1>
                <p>Por favor ingresa tu usuario/password</p>
                <div class="iconPrefix user"><input type="text"></div>
                <label>&nbsp; Demo ejemplo de error</label>
                <div class="iconPrefix pwd"><input type="password"></div>
                <label>&nbsp; Demo ejemplo de error</label>
                <a class="button" href="">Enter</a>
            </div>
        </div>
    </div>
</div>-->
