
@font-face{
font-family:'AvenirNextLTW01Bold';
src:url(avenir-next-bold.eot);
src:url(avenir-next-bold.eot) format("embedded-opentype"),url(avenir-next-bold.woff) format("woff"),url(avenir-next-bold.ttf) format("truetype"),url(avenir-next-bold.svg#AvenirNextLTW01BoldRegular) format("svg")
}
@font-face{
font-family:'AvenirNextLTW01Italic';
src:url(avenir-next-italic.eot);
src:url(avenir-next-italic.eot) format("embedded-opentype"),url(avenir-next-italic.woff) format("woff"),url(avenir-next-italic.ttf) format("truetype"),url(avenir-next-italic.svg#AvenirNextLTW01ItalicRegular) format("svg")
}
@font-face{
font-family:'AvenirNextLTW01Regular';
src:url(avenir-next-regular.eot);
src:url(avenir-next-regular.eot) format("embedded-opentype"),url(avenir-next-regular.woff) format("woff"),url(avenir-next-regular.ttf) format("truetype"),url(avenir-next-regular.svg#AvenirNextLTW01RegularRegular) format("svg")
}
@font-face{
font-family:'AvenirNextW01Thin';
src:url(avenir-next-thin.eot);
src:url(avenir-next-thin.eot) format("embedded-opentype"),url(avenir-next-thin.woff) format("woff"),url(avenir-next-thin.ttf) format("truetype"),url(avenir-next-thin.svg#AvenirNextW01ThinRegular) format("svg")
}
